body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: white;
  color: rgb(52, 52, 52);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: rgb(52, 52, 52);
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.container {
  max-width: 250px;
  margin: 30px auto;
  background-color: rgb(218, 238, 253);
  padding: 25px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-color: white;
  border-style: solid;
}

.container:hover {
  transform: scale(1.03);
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.4);
  background-color: rgb(18, 138, 250);
}

.img-logo {
  width: 50%;
  height: 130px;
  margin: 8px;
  padding: 5px;
}

.img-container {
  width: 100%;
  border-radius: 25px;
  margin-bottom: 15px;
  border-color: white;
  border-style: solid;
}

button {
  padding: 8px 12px;
  margin: 3px;
  border: none;
  cursor: pointer;
  background-color: #9eddff;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  margin-bottom: 15px;
  border-color: white;
  border-style: solid;
}

button:hover {
  background-color: rgb(18, 138, 250);
  transform: scale(1.03);
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.4);
}
