body {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  background-color: #c5d4db;
  color: black;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 300px;
  margin: 30px auto;
  background-color: #9eddff;
  padding: 25px;
  border-radius: 12px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.container:hover {
  transform: scale(1.03);
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.4);
  background-color: #6ed1ff;
}

img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

button {
  padding: 8px 12px;
  margin: 3px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #9eddff;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  margin-bottom: 15px;
}

button:hover {
  background-color: #6ed1ff;
}
